
.primary {
  font-size: 24px;
  line-height: 1.14;
}

@media (min-width: 768px) {
  .primary {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.2px;
  }
}

.large {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: normal;
}


@media (min-width: 768px) {
  .large {
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: normal;
  }
}
