
.wrapper {
  margin-top: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.item {
  width: calc(50% - 20px);
}

.total {
  margin: 0.5em 0 1.5em !important;
  color: var(--grey);
}
